/* UTILITYES */

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-text{
    margin-bottom: 20px;
}

/* fake contents */

.contact-box{
    padding: 50px 0;
}

/* .content-text {
    min-width: 100%;
    height: 30px;
} */

.footer-box{
    width: 60px;
    height:60px;
    background-color:dodgerblue;
    margin: 20px auto;
}

/* .big-text{
    min-width: 100%;
    height: 300px;
} */

.img{
    width:150px;
    height:150px;
    margin: 10px auto;
    border-radius: 8px;
    background-color: beige;
}

.big-img{
    width:300px;
    height:250px;
    margin: 10px auto;
    border-radius: 8px;
    background-color: rgb(194, 101, 223);
}
/* NAV - FOOTER */
.content1{
    min-width: 100%;
    height: 30px;
}








/* colors */

.bgcolor-dark{
    background-color: #2c3e50;
}

.bgcolor-grey{
    background-color: #3a546d;
}

.bgcolor-green{
    background-color: #1abc9c;
}
    
    /* ----------------------------------------- */
/* UTILITYES */
body{
    padding: 50px
}

h1,
h2{
    text-transform: uppercase;
    text-align: center;
}

div.star{
    text-align: center;
}

i.fas.fa-star{
    transform: translatey(15%)
}

div.bar,
div.black-bar{
    width:10%;
    height: 2px;
    background-color: white;
    border-radius:2px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto;
}

div.black-bar{
    background-color:#2c3e50;
}

div.bar:first-child,
div.black-bar:first-child{
    margin-right: 2%;
}

div.bar:last-child,
div.black-bar:last-child{
    margin-left: 2%;
}


/* NAV */
nav.nav-style{
    color: white;
    background-color:#2c3e50;
    text-transform:uppercase;
}

nav a.navbar-brand.nav-link,
nav ul.navbar-nav.navbar-right a.nav-link{
    color: white;
}

/* HEADER */
div.thumbnail.header-style{
    background-color: #1abc9c;
    border: none;
    color: white;
    text-align: center
}

div.thumbnail.header-style img{
    max-width: 50%;
}

div.thumbnail.header-style div.bar{
    width:18%;
}


/* MAIN */
div.main-img{
    margin: 10px 0;
 }


/* ABOUT */
section.about{
    color: white;
}

section.about div.col-xs-12.star{
    text-align: center;
}





/* CONTACT ME */



button.btn.btn-default.btn-send{
    border-radius: 5px;
    background-color:  #1abc9c;
    color: white;
    margin-top: 5px;
}

section.contact-content input.form-style,
section.contact-content textarea.form-style{
    border-bottom:1px solid #d5d5d5;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
}


/* FOOTER */
footer{
    color: white;
    text-align: center;
}

.icon-button{
    display:inline-block;
    width: 42px;
    height:42px;
    border-radius:50%;
    border: 1px solid white;
    background-color:transparent;
    margin: 20px auto;
    text-align: center;
    line-height:42px;
    padding: 5px;
    margin: 0 5px;;
}

h3{
    text-transform: uppercase;
    padding-bottom: 10px;
}


footer div i{
    font-size:25px;

}

footer div li{
    list-style:none;
    display:inline-block;
}

footer div a{
    text-decoration: none;
    color: white;
}

div.middle-box-footer ul{
    text-align: center;
    padding:0;
}